body {
    line-height: 1.5;
    background: rgb(219, 255, 219);
}

nav {
    background-color: rgb(39, 162, 45);
}

ul {
    list-style: none;    
}
    ul li a {
        text-decoration: none;
        margin-bottom: 15px;
        color:rgb(255, 255, 255);   
    }
    ul li a:hover {
        text-decoration: underline;
        color: rgb(211, 255, 210);   
    }

/* #instalaciones,
#habitaciones,
#ubicaciones, {
    width: 100%;
    height: 100vh;
    position: relative;
    float: left;
} */

header {
    background: rgb(39, 162, 45) url(../images/fondo-header.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background-image: url(../images/fondo-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
}
    header h2.title {
        font-size: 40px;
        letter-spacing: 10px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }

footer {
    background-color: rgb(39, 162, 45);
    color: rgb(255, 255, 255);
}
