body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    background-color: whitesmoke;
    line-height: 1,5;
}

nav {  
    border: solid 4pt rgb(35, 207, 150);
    padding: 30pt; 
}

h2 {
    font-size: 33pt;
    color: rgb(35, 207, 150);
    font-weight: lighter;
}

h3 {
    font-size: 22pt;
    color: rgb(70, 139, 70);
    font-weight: normal;
}
    div h3 {
        color: rgb(153, 7, 182);
        font-weight: bold;
    }

h4 {
    color: rgb(70, 139, 70);
}

p {
    color: #434b4d;
}
    div p {
        color: orange;
        font-style: italic;
    }

article {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 10pt rgb(170, 216, 201);
    padding: 20pt;
}
    div article {
        border-top: none;
        border-right: solid 10pt rgb(216, 216, 216);
        border-bottom: none;
        border-left: solid 10pt rgb(75, 134, 211);
        padding: 20pt;
        margin: 80pt;
        
    }

.menu-nav {
    line-height: 20pt;
    color: grey;
    text-decoration: none;
    border: solid 1pt lightgreen;
}

.language {
    color: rgb(67, 124, 112);
    font-weight: bold;
    text-decoration: none;
}

.construction {
    color: red;
    font-size: 40pt;
    font-weight: bold;
}

